$dark: rgb(0, 5, 0);
$primary: #0B0500;
$light: #FCF7FF;
$secondary: #DFB722;
$d-secondary: #916500;
$danger: #d62246ff;
$success: #23ce6bff;
$trans-dark: #0009;

$small: 425px;
$s-medium: 528px;
$medium: 768px;
$m-large: 992px;
$large: 1200px;
$x-large: 1440px;
$xx-large: 2560px;

html,
body {
  background: $light;
  color: $dark;
  overflow-x: hidden;
}
