@mixin normal-hero-styles {
  height: 400px;

  color: $light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    padding: 1rem;
    font-size: 48px;
    font-weight: 400;
    text-shadow: 2px 3px 1px $dark;

    span {
      color: $secondary;
      text-shadow: 2px 3px 1px $dark;
    }
  }

  @media screen and (max-width: $medium){
    height: 500px;
  }
}
